<div class="container p-0">
  <section id="user-settings" class="mb-5">
    <h1 class="text-light border-bottom border-light">User Settings</h1>
    <app-user-settings></app-user-settings>
  </section>

  <section id="house-settings" class="mb-5">
    <h1 class="text-light border-bottom border-light">Houses Settings</h1>
    <app-house-settings></app-house-settings>
  </section>

  <section id="period-settings" class="mb-5">
    <h1 class="text-light border-bottom border-light">Period Settings</h1>
    <app-period-settings></app-period-settings>
  </section>
  <section id="preferences-settings" class="mb-5">
    <h1 class="text-light border-bottom border-light">Preferences Settings</h1>
    <app-preferences-settings></app-preferences-settings>
  </section>
</div>
