<div class="layout">
  <nav class="sidebar">
    <section class="header-section">
      <div class="logo">
        <img src="/images/logo.png" alt="SplitEasy Logo" />
        <h2>SplitEasy</h2>
      </div>
    </section>

    <section class="nav-section">
      <div class="profile-nav-container">
        <div class="profile-section">
          <img
            *ngIf="user.picture"
            src="/images/{{ user.picture }}"
            alt="User"
            class="profile-img"
          />
          <p class="profile-name">{{ user.fisrtName }} {{ user.lastName }}</p>
        </div>

        <ul class="nav-links">
          <li>
            <a routerLink="/member/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/member/contributions" routerLinkActive="active"
              >Contributions</a
            >
          </li>
          <li>
            <a routerLink="/member/status" routerLinkActive="active">Status</a>
          </li>
          <li>
            <a routerLink="/member/settings" routerLinkActive="active"
              >Settings</a
            >
          </li>
        </ul>
      </div>
      <div class="logout-container">
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    </section>
  </nav>

  <!-- Contenido principal -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
