<app-nav-bar></app-nav-bar>

<section class="login-section d-flex align-items-center justify-content-center">
  <div class="login-box shadow p-4 rounded">
    <h2 class="text-center mb-4">Register</h2>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="ejemplo@correo.com" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="********" required />
      </div>
      <div class="mb-3">
        <label for="repeat-password" class="form-label">Repeat Password</label>
        <input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" class="form-control" id="repeat-password" placeholder="********" required />
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select [(ngModel)]="role" name="role" class="form-control" id="role" required>
          <option value="member">Member</option>
          <option value="representative">Representative</option>
        </select>
      </div>
      <button type="submit" class="btn w-100 signin-button">Register</button>
      <div class="text-center mt-3">
        <a [routerLink]="['/login']" class="text-decoration-none text-secondary">I have an account</a>
      </div>
    </form>
  </div>
</section>

<app-the-footer></app-the-footer>
