<!-- About Section -->
<section class="container mt-5" id="about">
  <div class="row text-center">
    <h1 class="center">About</h1>
    <div class="col-md-6">
      <h2>Mission</h2>
      <p>Our mission is to facilitate household financial management through a digital tool that
        distributes shared expenses proportionally to each member's income, promoting
        equity, transparency, and harmony in living together.</p>

      <h2>Vision</h2>
      <p>
        Our vision is to become the leading shared financial management platform for households in Latin
        America,
        recognized for empowering people to make fair, responsible, and collaborative financial decisions.
      </p>
      <h2>Why was SplitEasy created?</h2>
      <p>SplitEasy was born out of the need of many families and cohabitation groups who face difficulties in
        sharing expenses fairly.
        The platform addresses a common problem: the lack of financial clarity and equity in households,
        especially when incomes are unequal.
        With SplitEasy, we seek to eliminate unnecessary tension and promote a more harmonious and fair
        environment for all.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Who are we?</h2>
      <p>SplitEasy is a project developed by <strong>ChabeCode</strong>, a team of students from the Peruvian
        University of Applied Sciences (UPC)
        committed to offering digital solutions that promote equity and well-being in everyday life. Our
        approach combines technology with social
        empathy to solve real problems affecting thousands of households.</p>

      <p>With SplitEasy, we want to transform the way people manage shared expenses,
        offering a simple, intuitive, and fair platform that adapts to the needs of each household.
        We know that financial management can be stressful, especially when incomes vary,
        and that's why we designed a tool that distributes expenses proportionally and
        transparently.</p>

      <p>At <strong>ChabeCode</strong>,we believe that a good life starts with good financial organization.
        And SplitEasy is here to help.</p>
    </div>
  </div>
</section>
