<!-- Services Section-->
<section class="container mt-5" id="services">
  <h1 class="text-center mb-4">Servicios</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
    <div class="col">
      <div class="card card-dark h-100 text-center">
        <div class="card-body">
          <i class="bi bi-calculator display-4 mb-3"></i>
          <h2 class="card-title">
            Proportional Calculus</h2>
          <p class="card-text">
            Automatically divide expenses based on each household member's income, promoting equity.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-dark h-100 text-center">
        <div class="card-body">
          <i class="bi bi-pie-chart-fill display-4 mb-3"></i>
          <h2 class="card-title">
            Expense Tracking</h2>
          <p class="card-text">
            Easily see how much you've contributed and how your household spends money.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-dark h-100 text-center">
        <div class="card-body">
          <i class="bi bi-people-fill display-4 mb-3"></i>
          <h2 class="card-title">
            Transparency and Collaboration</h2>
          <p class="card-text">
            Promotes communication and fair agreements between household members.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-dark h-100 text-center">
        <div class="card-body">
          <i class="bi bi-pc-display-horizontal display-4 mb-3"></i>
          <h2 class="card-title">Multi-device access</h2>
          <p class="card-text">Manage your finances from your phone, tablet, or computer without losing
            functionality.</p>
        </div>
      </div>
    </div>
  </div>
</section>
