<!-- Prices Section -->
<section class="container my-5" id="prices">
  <h1 class="text-center mb-4">Prices</h1>
  <div class="row justify-content-center g-4">
    <!-- Plan Free -->
    <div class="col-md-5 d-flex">
      <div class="card text-center precio-card w-100 bg-black text-white border-white">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h2 class="card-title">Free</h2>
            <h3 class="card-subtitle text-white">S/ 0.00 / monthly</h3>
            <ul class="list-unstyled mt-5 mb-4">
              <li>✓
                1 home</li>
              <li>✓
                Up to 3 members</li>
              <li>✓
                Basic expense record</li>
              <li style="opacity: 0">
            </ul>
          </div>
          <a href="login.html" class="btn btn-outline-light rounded-pill mt-5">Get started for free</a>
        </div>
      </div>
    </div>

    <!-- Plan Premium -->
    <div class="col-md-5 d-flex">
      <div class="card text-center precio-card w-100 bg-black text-white border-white">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h2 class="card-title">Premium</h2>
            <h3 class="card-subtitle mb-2 text-light">S/ 9.90 / monthly</h3>
            <ul class="list-unstyled mt-5 mb-4">
              <li>✓ Unlimited homes</li>
              <li>✓
                Unlimited members</li>
              <li>✓
                Graphic display</li>
              <li>✓
                Smart notifications</li>
            </ul>
          </div>
          <a href="login.html" class="btn btn-outline-light rounded-pill mt-auto">
            Choose Premium</a>
        </div>
      </div>
    </div>
  </div>
</section>
