<app-nav-bar></app-nav-bar>

<section class="login-section d-flex align-items-center justify-content-center">
  <div class="login-box shadow p-4 rounded">
    <h2 class="text-center mb-4">Forgot Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
      <div *ngIf="message" class="text-success">{{ message }}</div>
      <button type="submit" class="btn w-100 signin-button">Send Reset Link</button>
    </form>
    <div class="text-center mt-3">
      <a [routerLink]="['/login']" class="text-decoration-none text-secondary">
        Back to login</a>
    </div>
  </div>
</section>

<app-the-footer></app-the-footer>
