<h2>{{ editMode ? 'Edit Course' : 'Homes' }}</h2>
<div class="form-section">
  <form #homeForm="ngForm" (submit)="onSubmit()" class="form-row">
    <mat-form-field id="name-form-field">
      <input [(ngModel)]="home.name" matInput name="name" placeholder="Name" required />
    </mat-form-field>
    <mat-form-field id="description-form-field">
      <input [(ngModel)]="home.description" matInput name="description" placeholder="Description" required />
    </mat-form-field>
    <ng-container>
      <button color="primary" mat-raised-button>{{ isEditMode() ? 'Update' : 'Add' }}</button>
      <button (click)="onCancel()" color="primary" mat-raised-button>Cancel</button>
    </ng-container>
  </form>
</div>
