<div class="container p-0">
  <div
    class="border-bottom"
    style="display: flex; justify-content: space-between"
  >
    <h1 class="text-white mb-3">Contributions</h1>
    <div>
      <label for="selectPeriod" class="text-white">Select Period</label>
      <select
        [(ngModel)]="period_id"
        name="selectPeriod"
        class="form-select"
        style="width: auto"
      >
        <option value="0">--Select Period--</option>
        <option *ngFor="let period of periodList" value="{{ period.id }}">
          {{ period.name }}
        </option>
      </select>
    </div>
  </div>
  <section class="mt-5">
    <h3 class="text-white">House: Casa chorrillos</h3>
    <div class="d-flex justify-content-evenly flex-wrap gap-3 mt-5">
      <div class="card p-4 card-amount">
        <h1>150$</h1>
        <span>Total collected</span>
      </div>
      <div class="card p-4 card-amount">
        <h1>50$</h1>
        <span>Total shortfall</span>
      </div>
      <div class="card p-4 card-amount">
        <h1>200$</h1>
        <span>Total</span>
      </div>
    </div>
    <div class="container-form mt-3">
      <div class="card p-4 w-100">
        <legend>List the contributions by Casa chorrillos</legend>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                <th>Descripcion</th>
                <th>Member</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contribution of contributionsList">
                <td>{{ contribution.descripcion }}</td>
                <td>{{ contribution.memberName }}</td>
                <td>{{ contribution.amount }}</td>
                <td>{{ contribution.currency }}</td>
                <td>{{ contribution.status }}</td>
                <td>
                  <div class="d-flex" style="column-gap: 10px">
                    <span
                      class="btn btn-primary w-100"
                      (click)="editTable(contribution)"
                      >Edit</span
                    >
                    <span
                      class="btn btn-danger w-100"
                      (click)="deleteContribution(contribution.id)"
                      >Delete</span
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card p-4">
        <legend>{{ activateFormEdit ? "Edit" : "Create" }} contribution</legend>
        <!-- Formulario aquí -->
        <form
          *ngIf="activateForm"
          [formGroup]="contributionForm"
          class="row row-cols-2 g-3"
        >
          <div>
            <label for="user_id" class="form-label">Select User</label>
            <select formControlName="user_id" class="form-control">
              <option *ngFor="let member of memberList" value="{{ member.id }}">
                {{ member.firstName + " " + member.lastName }}
              </option>
            </select>
          </div>
          <div>
            <label for="descripcion" class="form-label">Descripcion</label>
            <input
              type="text"
              formControlName="descripcion"
              class="form-control"
            />
          </div>
          <div>
            <label for="amount" class="form-label">Amount</label>
            <input
              type="number"
              formControlName="amount"
              class="form-control"
            />
          </div>
          <div>
            <label for="currency" class="form-label">currency</label>
            <select class="form-control" formControlName="currency">
              <option>--selection currency---</option>
              <option value="PEN">PEN</option>
              <option value="USD">USD</option>
            </select>
          </div>
          <div>
            <label for="status" class="form-label">status</label>
            <select class="form-control" formControlName="status">
              <option value="{{ statusEnum.PENDING }}">
                {{ statusEnum.PENDING }}
              </option>
              <option value="{{ statusEnum.APPROVED }}">
                {{ statusEnum.APPROVED }}
              </option>
              <option value="{{ statusEnum.REJECTED }}">
                {{ statusEnum.REJECTED }}
              </option>
              <option value="{{ statusEnum.CANCELLED }}">
                {{ statusEnum.CANCELLED }}
              </option>
              <option value="{{ statusEnum.EXPIRED }}">
                {{ statusEnum.EXPIRED }}
              </option>
            </select>
          </div>
          <div>
            <label for="dateDue" class="form-label">Date Due</label>
            <input type="date" formControlName="dateDue" class="form-control" />
          </div>
          <div style="display: flex; column-gap: 12px">
            <label for="is_billing" class="form-label mr-2">Is billing?</label>
            <input type="checkbox" formControlName="is_billing" />
          </div>
        </form>
        <span
          *ngIf="!activateForm"
          class="btn btn-success w-100 mt-3"
          (click)="initform()"
          >Create</span
        >
        <div class="d-flex" style="column-gap: 16px">
          <span
            *ngIf="activateForm"
            class="btn btn-danger w-100 mt-3"
            (click)="initform()"
            >cancel</span
          >
          <span
            *ngIf="activateForm"
            class="btn btn-success w-100 mt-3"
            (click)="saveContribution()"
            >save</span
          >
        </div>
      </div>
    </div>
  </section>
  <div class="w-100 text-center mt-5" *ngIf="period_id == '0'">
    <br />
    <br />
    <br />
    <h1 class="text-white">!!!Please Select a Period</h1>
  </div>

  <section></section>
</div>
