<!-- Hero Section -->
<section class="hero-section">
  <div class="container d-flex align-items-center justify-content-center fs-1
        text-white flex-column">
    <h3 class="text-center">At SplitEasy, we know how important it is to maintain a balanced financial life.
      Our system allows you to divide and manage expenses equitably among household members, without
      complications or arguments.
      Divide expenses proportionally, based on each person's income, and maintain efficient and fair control
      for everyone.</h3>
    <p>Make financial management easy and fair for everyone at home!</p>
    <a [routerLink]="['/register']" class="signin-button">Register</a>
  </div>
</section>
