.table-wrapper {
  width: 1024px;
  margin: 50px auto;
}

/* Estilo base de la tabla */
table {
  width: 100%;
  background-color: white; /* Fondo oscuro opcional */
}

/* Fila editable con fondo más claro para contraste */
tr.editable-row {
  background-color: #3a3a3a;
}
