<div class="layout">
  <nav class="sidebar">
    <section class="header-section">
      <div class="logo">
        <img src="assets/logo.png" alt="SplitEasy Logo" />
        <h2>SplitEasy</h2>
      </div>
    </section>

    <section class="nav-section">
      <div class="profile-nav-container">
        <div class="profile-section">
          <img src="assets/user-icon.png" alt="User" class="profile-img" />
          <p class="profile-name">{{ userName }}</p>
        </div>

        <ul class="nav-links">
          <li><a routerLink="/representative/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/representative/members" routerLinkActive="active">Members</a></li>
          <li><a routerLink="/representative/bills" routerLinkActive="active">Bills</a></li>
          <li><a routerLink="/representative/contributions" routerLinkActive="active">Contributions</a></li>
          <li><a routerLink="/representative/settings" routerLinkActive="active">Settings</a></li>
        </ul>
      </div>
      <div class="logout-container">
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    </section>
  </nav>

  <!-- Contenido principal -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
