<!-- Reviews Section -->
<section class="container my-5" id="reviews">
  <h1 class="text-center mb-5">Reviews</h1>
  <div class="row g-4 justify-content-center">
    <!-- Reseña 1 -->
    <div class="col-lg-4 col-md-6 d-flex">
      <div
        class="card p-4 bg-black text-white border-white w-100 rounded-4 shadow-lg"
      >
        <div class="d-flex align-items-center mb-4">
          <img
            src="/images/random1.png"
            alt="María López"
            class="rounded-circle me-4"
            width="80"
            height="80"
          />
          <div>
            <h2 class="mb-1 fs-4">María López</h2>
            <small class="text-secondary fs-6"> Graphic Designer</small><br />
            <span class="text-warning fs-5">★★★★★</span>
          </div>
        </div>
        <p class="fs-5">
          "SplitEasy has helped me so much when splitting expenses with my
          roommates. Everything is clear and no one argues anymore!"
        </p>
      </div>
    </div>
    <!-- Reseña 2 -->
    <div class="col-lg-4 col-md-6 d-flex">
      <div
        class="card p-4 bg-black text-white border-white w-100 rounded-4 shadow-lg"
      >
        <div class="d-flex align-items-center mb-4">
          <img
            src="/images/random2.png"
            alt="Carlos Fernández"
            class="rounded-circle me-4"
            width="80"
            height="80"
          />
          <div>
            <h2 class="mb-1 fs-4">Carlos Fernández</h2>
            <small class="text-secondary fs-6"> Engineering Student</small
            ><br />
            <span class="text-warning fs-5">★★★★★</span>
          </div>
        </div>
        <p class="fs-5">
          "The app makes sharing expenses in my department super easy. Highly
          recommended."
        </p>
      </div>
    </div>
    <!-- Reseña 3 -->
    <div class="col-lg-4 col-md-6 d-flex">
      <div
        class="card p-4 bg-black text-white border-white w-100 rounded-4 shadow-lg"
      >
        <div class="d-flex align-items-center mb-4">
          <img
            src="/images/random3.png"
            alt="José Ramírez"
            class="rounded-circle me-4"
            width="80"
            height="80"
          />
          <div>
            <h2 class="mb-1 fs-4">José Ramírez</h2>
            <small class="text-secondary fs-6"> Family Guy</small><br />
            <span class="text-warning fs-5">★★★★☆</span>
          </div>
        </div>
        <p class="fs-5">
          "Thanks to SplitEasy, I can see how much each member of my family
          contributes. It's fair and easy to use!"
        </p>
      </div>
    </div>
  </div>
</section>
